# Xcode
build/
DerivedData/
*.xcuserdata
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# OS files
.DS_Store
*.swp
*~
